body {
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
	width: 400px;
	margin: 30px auto 0;
	
}

h1 {
	text-align: center;
	margin: 0 0 40px 0 ;
}

.name_container {
	margin: 0 0 16px 0;
}

.language_container {
	margin: 0 0 20px 0;
}

input {
	border: 1px solid rgba(0, 0, 0, 0.4);
	height: 40px;
	border-radius: 10px;
	padding: 0 10px;
	width: 100%;
	font-size: 15px;
	font-family: inherit;
	box-sizing: border-box;
}

.buttons_wrap {
	display: flex;
	justify-content: space-between;
	margin: 0 0 32px 0;
}


.data-button,
.clear-button {
	border-style: none;
	padding: 12px 24px;	
	color: #ffffff;
	font-size: 17px;
	text-transform: uppercase;
	border-radius: 50px;
	cursor: pointer;
}

.data-button {
	background-color: #3b9aa7;
}

.clear-button {
	background-color: transparent;
	border: 1px #245f67 solid;
	color: #245f67;
}

#message,
#userProgrammingLanguageMessage {
	margin: 0 0 8px 0;
}

